In [4]:
# imports
import requests
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
# BUILDING BASE URL
url = 'https://api.census.gov/data'
year = '2019'
dataset = 'abscb' # CHANGE THIS TO CHANGE DATASET
base_url = '/'.join([url, year, dataset])

# FORMATTING API REQUEST
predicates = {}
get_vars = ['EMP', 'EMPSZFI', 'ETH_GROUP', 'GEO_ID', 'NAICS2017', 'STATE'] # CHANGE THIS TO CHANGE VARIABLES RECEIVED
predicates['get'] = ','.join(get_vars)
predicates['for'] = 'state:*' # CHANGE THIS TO CHANGE GEOGRAPHIC SCOPE
predicates['key'] = '7c2c8ae1aefce7823680175cfa25d0ba300fe6f5' # DON'T CHANGE THIS
response = requests.get(base_url, params=predicates)

In [8]:
resp_json = response.json()
data = pd.DataFrame(resp_json[1:], columns=resp_json[0])

In [9]:
data.head()

       EMP EMPSZFI ETH_GROUP       GEO_ID NAICS2017 STATE state
0   857405     001       001  0400000US28        00    28    28
1  2432195     001       001  0400000US29        00    29    29
2   368005     001       001  0400000US30        00    30    30
3   839188     001       001  0400000US31        00    31    31
4  1198057     001       001  0400000US32        00    32    32